body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eaeaea;
  color: #333;
}

header {
  background-color: #dcdcdc;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  margin-bottom: 15px;
}

section {
  background: white;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}
